    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Jain Cake House</h2>
              <br/>
                <p>Brightening up your occasions with a melt-in-mouth and freshly baked cake is no more a dream because we present you a wide assortment of deliciously rich cakes that are infused with luscious flavors.
</p>
                <p>Buy delicious and fresh cakes in exotic flavors for your family. Jain cake shop offers a variety of cakes, cupcakes and jar cakes for your loved ones. Send some love to your loved ones on birthdays and anniversaries with a box of cake to make everybody delighted.
</p>
                <p>We are famous for the variety of cakes we provide. Name any special occasion and we would have gifts for it. Pineapple, chocolate, black forest, butterscotch, and strawberry are the most popular flavors amongst our customers. Moreover, they look as good as they taste, and you cannot resist buying them! We also take bulk orders for parties and festivals!
</p>
                <br/>
              </div>
        </div>
    </section>
